.profile-container {
  text-align: center;
}

.profile-form {
  /* Styles for form */
}

.password-reset {
  /* Styles for password reset section */
}

.spin-to-win {
  margin-top: 20px;
}

.wheel {
  border-radius: 50%;
  cursor: pointer; /* Add cursor */
}

.spinning {
  animation: spin 20s ease-in-out forwards; /* Increased spin duration */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.spin-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
